.main__content {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container form p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 650;
    color: var(--background--color);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form input:not(.color__selector):not(.button) {
    width: 150%;
    padding: 1.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: var(--font-family);
    background-color: #EFE6DD;
    color: #231F20;

    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.24);
}

.container {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    background-color: var(--clr-secondary);
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.547);
}

.color__selector {
    width: 100%;
    height: 8rem;
    margin: 1rem 0;
    color: var(--clr-secondary);
    border-color: var(--clr-primary);
    border-width: 0.3rem;
}

.button {
    width: 150%;
    padding: 1.5rem;
    margin-top: 5rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: var(--font-family);
    background-color: var(--background--color);
    color: var(--clr-secondary);
    font-weight: bolder;

    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.24);

    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.02);
    background-color: #BB4430;
    color: #EFE6DD;
}

.button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    background-color: #883223;
}

.container h1,
.table__container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 650;
    color: var(--clr-primary);
    margin-bottom: 2rem;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            var(--white) 0%,
            var(--clr-primary) 29%,
            var(--clr-primary) 67%,
            var(--white) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* form */

.table__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: var(--clr-secondary);
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.547);

    max-height: 81rem;
    /* adjust this value as needed */
    overflow: auto;
}

.table__container table {
    border-radius: 1rem;
    background-color: white;

    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.244);
}

.table__container th {
    padding-right: 2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--font-family);
    text-align: center;

    /* border: 1px solid var(--clr-primary); */
    /* This adds a border to the cells */
    /* border-radius: 1rem; */
    padding: 10px;
    /* This adds some space between the cell content and the borders */
}

.table__container td {
    font-size: 1.3rem;
    font-family: var(--font-family);
    text-align: center;

    /* border: 1px solid var(--clr-primary);
    border-radius: 1rem; */
    /* This adds a border to the cells */
    padding: 0.4rem;
}

.table__container tr:nth-child(even) {
    background-color: #f2f2f2;
    /* This adds a background color to every other row */
}

.table__container tr:nth-child(odd) {
    background-color: #d9d9d9;
    /* Darker color for odd rows */
}

.table__container td input[type="color"] {
    border: none;
    /* This removes the default border */
    border-radius: 50%;
    /* This makes the input field round */
    width: 30px;
    /* This sets the width of the input field */
    height: 30px;
    /* This sets the height of the input field */
    -webkit-appearance: none;
    /* This removes the default appearance */
    -moz-appearance: none;
    /* This removes the default appearance */
    appearance: none;
    /* This removes the default appearance */
}

.table__container td input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    /* This removes the padding around the color swatch */
}

.table__container td input[type="color"]::-webkit-color-swatch {
    border: none;
    /* This removes the border around the color swatch */
    border-radius: 50%;
    /* This makes the color swatch round */
}