.page-title {
    margin-top: 2rem;
    text-align: center;
}

.table {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.293);
    margin-bottom: 0;
}

.botao-redondo {
    position: fixed;
    right: 20px;
    bottom: 20px;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    text-align: center;
    line-height: 30px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

    border: 1px solid black;

    transition: all 0.3s ease-in-out;
}

.botao-redondo:hover {
    border-radius: 40%;
    transform: scale(1.2);
    background-color: darkgreen;
}