.adicionar_funcionario,
.editar_funcionario,
.excluir_funcionario {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adicionar_funcionario,
.editar_funcionario {
    background-color: var(--orange-color);
    color: white;
    transition: all 75ms ease-in;
}

.adicionar_funcionario:hover,
.editar_funcionario:hover {
    background-color: var(--dark-orange-color);
    transform: scale(1.05);
}

.adicionar_funcionario:active,
.editar_funcionario:active {
    background-color: var(--darker-orange-color);
    transform: scale(0.98);
}

.excluir_funcionario {
    background-color: #f23a2d;
    color: white;
    transition: all 75ms ease-in;
}

.excluir_funcionario:hover {
    background-color: #c22f24;
    transform: scale(1.05);
}

.excluir_funcionario:active {
    background-color: #8e231b;
    color: white;
    transform: scale(0.98);
}

.table__container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: var(--spacing) auto;

    text-align: center;
    padding: var(--spacing) 3rem;
    box-shadow: 0px 0px 1rem 0px rgb(0, 0, 0);

    border-radius: 2rem;

    overflow: auto;
}

.table__class {
    border-collapse: collapse;
    border: 1px solid var(--orange-color);

    width: fit-content;
    overflow: auto;
}

.table__class caption {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;

    text-transform: uppercase;
}

.table__class th,
.table__class td {
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
}

.table__class th {
    background-color: var(--orange-color);
    color: white;
}

.table__class tfoot tr td {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__class tfoot tr td input {
    margin-top: var(--spacing);
}

.table__class tr:nth-child(odd) {
    background-color: white;
}

.table__class tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 600px) {
    .table__container {
        margin: 2rem 0rem;
        padding: 0px;
        border-radius: 0%;

        justify-content: left;
        align-items: left;
    
    }

    .table__class caption{
        margin-left: 2rem;
        text-align: left;
    }
}