.main__container{
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
}

.container__header{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: var(--spacing);
}

.page__contents{
    display: flex;
    list-style: none;
    gap: (--spacing);
    margin: 10rem 10rem;
}

.page__contents li{
    margin: 0px var(--spacing);
}

@media screen and (max-width: 600px) {
    .page__contents{
        flex-direction: column;
    }
    .page__contents li{
        margin: var(--spacing);
    }
}
